# Aula01

# 0.0.Carregando Bibliotecas

In [29]:
import pandas as pd
import numpy as np

## 1.0. Loading Data

In [30]:
data = pd.read_csv('kc_house_data.csv')
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [32]:
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [33]:
data['date']= pd.to_datetime(data['date'])

# Perguntas feitas pelo CEO:

## 1.Quantas casas estão disponíveis para compra?

In [35]:
data['bedrooms'].isnull().sum()
21613

21613

## 2.Quantos atributos as casas possuem?

In [36]:
# A contagem de Atributos não contabiliza a coluna 'id' e 'date'
len(data.columns.drop(['id','date']).tolist())

19

## 3.Quais são os atributos das casas?

In [37]:
data.columns.drop(['id','date'])

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 4.Qual a casa mais cara (casa com maior valor de venda)?

In [38]:
data[['id','price']].sort_values('price',ascending =False).reset_index()['id'][0]

6762700020

## 5.Qual a casa com maior número de quartos?

In [39]:
data[['id','bedrooms']].sort_values('bedrooms',ascending =False).reset_index()['id'][0]

2402100895

## 6.Qual a soma total de quartos do conjunto de dados?

In [40]:
data['bedrooms'].sum()

72854

## 7.Quantas casas possuem 2 banheiros?

In [41]:
data[data['bathrooms']==2][['id','bathrooms']].value_counts().sum()

1930

## 8.Qual o preço médio de todas as casas no conjunto de dados?

In [42]:
round(data['price'].mean(), 2)

540088.14

## 9.Qual o preço médio de casas com 2 banheiros?

In [43]:
round(data[data['bathrooms']==2]['price'].mean(), 2)

457889.72

## 10.Qual o preço mínimo entre as casas com 3 quartos?

In [44]:
data[data['bedrooms']==3]['price'].min()

82000.0

## 11.Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [45]:
data['m2'] = 0.093 * data['sqft_living']
data[data['m2']>300][['id','m2']].value_counts().sum()

2258

## 12.Quantas casas tem mais de 2 andares?

In [46]:
data[data['floors']>2][['id', 'floors']].value_counts().sum()

782

## 13.Quantas casas tem vista para o mar?

In [47]:
data[data['waterfront']==1]['waterfront'].value_counts().sum()

163

## 14.Das casas com vista para o mar, quantas tem 3 quartos?

In [48]:
data.loc[(data['waterfront']==1) & (data['bedrooms']==3), 'id'].value_counts().sum()

64

## 15.Das casas com mais de 300 metros quadrados de sala de estar e mais de dois banheiros?

In [49]:
data.loc[(data['m2']>300)&(data['bathrooms']>2), 'id'].value_counts().sum()

2201